{{#each this}}
<div class="container">
  <h1 class="title">{{name}}</h1>
  <ul class="list">
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}}</li>
    <li>
      Languages:
      <ul class="language-list">
        {{#each languages}}
        <li>{{name}}</li>
          {{/each}}
      </ul>
    </li>
  </ul>
  <div class="info img">
    <img
      src="{{flag}}"
      width="400" alt="{{name}}" />
  </div>
</div>
{{/each}}